body {
  background-color: rgb(94, 170, 94);
}
*{
  text-align: center;
}
h1{
  font-family: cursive;
  color: blueviolet;
}
#sem{
  margin-left: 20rem;
  margin-top: -2.75rem;
}
#mat{
  margin-right: 20rem;
}
h2{
  font-family: fantasy;
  color: rgb(56, 79, 105);
}